*{
    box-sizing:border-box;
    margin:0 auto;
   
 
}
 
.navbar{
    text-align: center;
    background-color: black;
    padding: 2vw 0 2vw 0;
}
li{
    display: inline;
    list-style-type: none;
    padding: 4vw;
 
}
a{
    color: white;
    text-decoration:none;
    font-size: calc(5px + 1vw);
}
 
a:hover{
    color: #FCCB1A;
    text-decoration: underline;
}
 
.header{
    background-image: url("../images/cover.jpg");
    padding: 10vw 0 15vw 0;
    background-repeat: no-repeat;
    background-size: cover;
}
 
body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight:300;
 
}

.results{
    color:black;
    text-align: center;
    font-size: 60px;
}

.search_result{
    background-color: rgba(0, 184, 21, 0.47);
    width: 90em;
    border: 5px solid black;
    padding: 3vw;
    margin: 3vw auto;
    text-align: center;
    
}

.lyrics {
    font-size: 40px;
    text-align: center;
    text-decoration: underline;

}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: hidden;
    color: #000000;
    background-color: #faf4f5;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #eeeaf6}
  
  .button:active {
    background-color: #ffbdbd;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
 
.heading1{
    text-align: center;
    color:white;
    font-weight:400;
    margin-bottom: 2vw;
    font-size: 4vw
}
 
.search_bar{
    text-align: center;
}
 
.input1{
 
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 0.6vw 8vw 0.6vw 8vw;
    border-radius: 25px;
  }


  .followed_artist{
    background-image: url("../images/pic1.jpg");
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 5vw 0 5vw 0;

  }

  .inner{
      background-color: hsla(0, 0%, 0%,0.82);
      width: 70%;
      color: white;
      padding: 7vw;
      border-radius: 2vw;
  }
  
  .each_artist{
      text-align: left;
    
  }
  .artist_name{
      width: 40%;
      float:left;
  }
  .event_page{
      clear: both;
  }


 h1{
     font-size: 3vw;
 }

 h4{
     padding-top: 3vw;
     font-size: 2vw;
     
 }
 h5{
     color: #FFEBC1;
     display: inline;
 }

 h6.art1{
     font-size: 40px;
     display: inline;
     margin: auto;
     padding: 20px;
     color: hsla(0, 100%, 1%, 1);
 }

 h6.art2{
    font-size: 30px;
    display: inline;
    margin: auto;
    padding: 20px;
    color: hsla(286, 100%, 13%, 1);
}

.event_button{
    margin-top: 2vw;
    border: solid 3px white;
    background-color: transparent;
    padding: 1vw 0.8vw 1vw 0.8vw;
    color: white;
    float:left;
    width: 40%;
}

.event_button:hover{
    background-color: #FCCB1A;
    color: black;
    border-color:hsla(0, 0%, 0%,0.82);
}

.each_event{
    padding-top: 2vw;
    font-size: calc(5px + 1vw);
}
.each_artist{
    padding-top: 5vw;
}

p{
    font-size: calc(5px + 1vw);
}

.no_tour{
    padding-top: 2vw;
}

.favorite_song{
    background-image: url("../images/pic1.jpg");
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 5vw 0 8vw 0;
   
}

.favorite_song .inner{
      background-color: hsla(0, 0%, 0%,0.82);
      width: 70%;
      color: white;
      padding: 5vw 3vw 20vw 3vw;
      border-radius: 2vw;
  
}

p.artist_name{
    font-size: calc(5px + 1.3vw);
    width: 65%;
}

.favorite_song .event_button{
    margin-top: 0;
    padding: 1vw 0.2vw 1vw 0.2vw;
    float: left;
    width: 15%;
}

.favorite_song .each_artist{
    text-align: center;

}